<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
            <add name="PythonHandler" path="*.py" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\Python39\python.exe|C:\Program Files\Python39\Lib\site-packages\wfastcgi.py" resourceType="File" />
        	<add name="FlaskHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\Python39\python.exe|C:\inetpub\wwwroot\classify-api\wfastcgi.py" resourceType="Unspecified" />
        	<remove name="Python FastCGI" />
      		<add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\Python39\python.exe|C:\Program Files\Python39\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
            <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    </system.webServer>
     <appSettings>
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\classify-api" />
        <add key="WSGI_HANDLER" value="api.app" />
    <!-- Required settings 
    <add key="WSGI_HANDLER" value="api.app" />
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\classify-api" />
    <add key="SCRIPT_NAME" value="/classify-api" />
    <add key="WSGI_LOG" value="C:\inetpub\wwwroot\classify-api\logs\api.log" />
    <add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" /> -->
  </appSettings>
</configuration>

